@{
    ViewData["Title"] = "Home Page";
    Layout = ViewBag.Layout;
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Мы занимаемся перевозками топлива...</p>
</div>
