@model IEnumerable<FuelGarage.Domain.Entities.Fuel>

@{
    ViewData["Title"] = "ExcelReport";
    Layout = "_AdminLayout";
}

<h1>Excel отчет</h1>
<a asp-action="DownloadExcelReport" asp-controller="Admin" class="btn btn-primary">Скачать</a>

