@model Library.Entities.SubscriptionCard

@{
    ViewData["Title"] = "Create";
}

<h1>Создать</h1>

<h4>Абонемент</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReaderListId" class="control-label">Читатель</label>
                <select asp-for="ReaderListId" asp-items="ViewBag.Reader"></select>
                <span asp-validation-for="ReaderListId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatalogCardId" class="control-label">Книга</label>
                <select asp-for="CatalogCardId" asp-items="ViewBag.Catalog"></select>
                <span asp-validation-for="CatalogCardId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueDate" class="control-label">Дата выдачи</label>
                <input asp-for="IssueDate" class="form-control" />
                <span asp-validation-for="IssueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label">Дата возврата</label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
